<a href="https://colab.research.google.com/github/krithi65/string-programs/blob/main/program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

26.print 'yes' if it is a numeric otherwise print 'no'.
Sample Testcase :
INPUT
guvigeeks
OUTPUT
no

In [ ]:
n=input()
if(n.isnumeric()==False):
    print("no")
else:
    print("yes")

27.print 'yes' if it is a holiday otherwise print'no'.Assume that weekend days are holidays
Sample Testcase :
INPUT
saturday
OUTPUT
yes
INPUT
monday
OUTPUT
no

In [ ]:
day=input()
if("monday" in day):
    print("no")
elif("tuesday" in day):
   print("no") 
elif("wednesday" in day):
    print("no")    
elif("thursday" in day): 
    print("no")
elif("friday" in day):
    print("no")   
else:
    print("yes")

28.whether string is beautiful or not.A beautiful string is a string in which String starts with ‘a’ or ‘A’ and middle element is either ‘m’ or ‘M’ and last element is ‘z’or ‘Z’

In [ ]:
day=input()
if(len(day)==3):
   if("A" in day)or("a" in day):
    print(1)
   elif("m" in day)or ("M" in day): 
    print(1)
   elif("z" in day)or ("Z" in day): 
    print(1)
else:
    print(0)

29. whether they have any common characters.If found print 'yes' else print 'no'.
Input Size : |s| <= 100000(O(n))
Sample Testcase :
INPUT
guvi guvigeeks
OUTPUT
yes

In [ ]:
str1,str2=map(str,input().split())
if (str1 in str2):
    print("yes")
elif(str2 in str1):
    print("yes")
else:
    print("no")

30. print the 1st and 3rd character of the string (chracter index starts from 1).
Input Size : 1 <= N <= 100000
Sample Testcase :
INPUT
codekata
OUTPUT
cd

In [ ]:
str1=input()
a=list(str1)
b=a[0]
c=a[2]
print(b,c,sep="")

31.If no extra space is present print the same as output.

In [ ]:
test_str = input()
# using split() + join()
# remove additional space from string 
res = " ".join(test_str.split())
print(str(res))

32. find the number of strings that are an anagram of 'kabali'.If there exists no anagram for the given string print '0'.
Input Size : 1 <= N <= 1000
Sample Testcase :
INPUT
5
kabali
kaabli
kababa
kab
kabail
OUTPUT
3

In [ ]:

n = int(input())
l = []
for i in range(n):
    l.append(str(input()))
ref = 'kabali'
count = 0
for i in l:
    flag = True
    for j in i:
        if i.count(j) != ref.count(j):
            flag = False
            break
    if flag:
        count+=1
print(count)

33.whether these form pair of (strset) A pair of strings is said to be str set if one string is substring of other.

In [ ]:
str1,str2=map(str,input().split())
if str2 in str1:
   print("Yes")   
else:
   print("No")

34. reverse the given string by appending each character of the string with '-'.
Input Size : |S| <= 100000
Sample Testcase :
INPUT
codekata
OUTPUT
a-t-a-k-e-d-o-c

In [ ]:
n=input()
a=n[::-1]
print("-".join(a))

35.Find if he can visit point m.
Sample Testcase :
INPUT
3 5
0 2
2 4
3 5
OUTPUT
yes

In [ ]:
a1,n=map(int,input().split())
a2,b2=map(int,input().split())
a3,b3=map(int,input().split())
a4,m=map(int,input().split())
if(n==m):
    print("yes")
else:
    print("no")

36. remove all the spaces and print the result.
Input Size : |s| <= 1000000(complexity O(n))
Sample Testcase :
INPUT
guvi geeks
OUTPUT
guvigeeks

In [ ]:
n=input().split()
print("".join(n))

37. check whether they are case senitively equal without using any predefined function(case sensitive).If they are not same print 'no'
Sample Testcase :
INPUT
guvi guvi
OUTPUT
yes

In [ ]:
n,m=map(str,input().split())
if(n==m):
    print("yes")
else:
    print("no")

38.find the number of ones in its binary representation.
Sample Testcase :
INPUT
276
OUTPUT
3

In [ ]:
n=int(input())
binary=bin(n)
print(binary.count('1'))

39. find if any K consecutive strings are same.
Input Size : K <= N <= 1000
Sample Testcase :
INPUT
5 3
code
overload
vishal
vishal
vishal
OUTPUT
yes

In [ ]:
n,blen=map(int,input().split())
a = []
for i in range(n):
    a.append(str(input()))
#print(a)
flag = False
for i in range(n-1):
        if a[i] == a[i+1]:
            flag = True
if flag:
    print("yes")
else:
    print("no")

40.Print the position of first 1 from right to left, in binary representation of an Integer.
Sample Testcase :
INPUT
18
OUTPUT
2

In [ ]:
import math
n=int(input())
res=math.log2(n&-n)+1
print(round(res))

41.find if two consecutive words are same.

In [ ]:
n=int(input())
a = []
for i in range(n):
    a.append(str(input()))
#print(a)
flag = False
for i in range(n-1):
        if a[i] == a[i+1]:
            flag = True
if flag:
    print("yes")
else:
    print("no")

42.Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [ ]:
data = input( )
s=list(data)
i = 0
while i < s.__len__()-1:
    t = s[i]
    s[i] = s[i + 1]
    s[i + 1] = t
    i = i + 2
data=s    
print("".join(data))

43.print the reverse of the string.

In [ ]:
s=input()
print(s[::-1])

44.Print 'yes' if there exists a valid substring otherwise print 'no'.

In [ ]:
s,x=map(str,input().split())
if(x in s):
    print("yes")
else:
    print("no")

45.Given a sentence interchange the between the word 'and'.
Input Size : |S| <= 1000000
Sample Testcase :
INPUT
jack and jill went up and down to get water
OUTPUT
jill and jack went down and up to get water

In [ ]:
l = input().split(" ")
a=[]
for i in range(len(l)):
    if l[i] == "and":
        (l[i+1], l[i-1]) = (l[i-1], l[i+1])
for i in l:
    a.append(i)
print(*a)

46.find if it can be a valid Hexadecimal representation of a number

In [ ]:
user_input = input()
try:
    hexval = int(user_input, 16)
    print ('yes')
except:
    print ('no')

47.find if P is a substring of S. Print 'yes' if it is a substring else 'no'.

In [ ]:
s,x=map(str,input().split())
if(x in s):
    print("yes")
else:
    print("no")

48. reverse the case of each letter.

In [ ]:
s = str(input())
a=[]
for i in s:
    if i.isupper():
        l1=i.lower()
        a.append(l1)
    else:
        l2=i.upper()        
        a.append(l2)
print("".join(a))

49.print reverse all words except the first and last words.

In [ ]:
s = input().split(" ")
a=[]
for i in range(len(s)):
    if i == 0:
        l1=s[i]
        a.append(l1)
    elif i == (len(s)-1):
        l2=s[i]
        a.append(l2)
    else:
        l3=s[i][::-1]
        a.append(l3)
print(*a)

50.Find the maximum number that can be formed using the digits.

In [ ]:
# vowels list
n=input()
values=list(n)
# sort the vowels
values.sort(reverse=True)

# print vowels
new_s = "".join(values)
print(new_s)